<!DOCTYPE html>
<html>
    <head>
        <title>Django Application</title>
        <style type="text/css">
            h2{
                text-align: center;
            }
            table{
                margin: auto;
            }
            button{
                width: 150px;
                height: 40px;
                margin-top: 10px;
            }
            #status{
                margin: auto;
                width: 40%;
            }
            #status h2{
                display: inline-block;
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>